# macOS files ----
.DS_Store

# History files ----
.Rhistory
.Rapp.history

# Session Data files ----
.RData
.Ruserdata

# RStudio files ----
*.Rproj
.Rproj.user/

# R Environment Variables ----
.Renviron

# User-specific files ----
README.html
inst/doc
*.zip
*.cpg
*.dbf
*.prj
*.shp
*.shx
data-raw/latam
data-raw/wfo
data-raw/wcvp
data-raw/gbif
data-raw/gadm
data-raw/bfo
data-raw/lcvp

